[2017-01-16 20:48] gauthamzz opened #3 "Add your name in the students section"
Everyone is requested to add your name to the students section. Comment on this thread if you face any issue

Requirements:
- Name added in the students section
- A social media post or a tweet highlighting the changes you made along with the hashtags " #opencode #geekhaveniiita #iiita "

[2017-01-16 20:49] gauthamzz opened #4 "Reffer someone else"
If your name comes on the referral link of another user. 20 points per user.

[2017-01-16 20:50] gauthamzz opened #5 "Add footer"
Currently the colloboration site does not have a footer, create a footer along with the necessary links and description.

Requirements:
- Live preview (gh-pages) of your forked repo.
- A social media post or a tweet highlighting the changes you made along with the hashtag " #opencode #geekhaveniiita #iiita "

[2017-01-16 20:52] gauthamzz opened #6 "Show all infos"
As you can see in the README.md we are collecting information like github, fb and twitter username of students and mentors . Display all the information in anyway you please , you are welcome to be creative.

Requirements:
- live preview ( gh-pages ) of the changes you made.
- A social media post or a tweet highlighting the changes you made along with the hashtag " #opencode #geekhaveniiita #iiita

[2017-01-16 20:57] VamsiSangam commented on #3
For the images, will a link do? [Example](https://avatars3.githubusercontent.com/u/11662001?v=3&s=240)

[2017-01-16 21:01] gauthamzz commented on #3
No, you need to add images in the images/students , please create a students folder :+1:

[2017-01-16 21:01] VamsiSangam commented on #3
Ok 😄

[2017-01-17 08:02] gauthamzz opened #9 "Install on your system"
Go through the README.md of the repository and build the website by jekyll on your local machine as instructed . This issue is open for everyone.

Requirements:
 - A screenshot in the issue
 - Make a social media post or a tweet, something in the lines  "Just installed jekyll and built the opencode website on my local System. Happy Contributing #opencode #geekhaveniiita #iiita" ( hashtags necessar

[2017-01-17 12:47] aswanthkoleri commented on #5
In which file shall i include the footer code ??

[2017-01-17 12:54] gauthamzz commented on #5
index.html has the footer code

[2017-01-17 12:57] gauthamzz opened #15 "Enable gh-pages on your fork"
enable gh-pages on your fork in settings. please comment the link in this thread to earn points.

[2017-01-17 12:58] aswanthkoleri commented on #5
what are gh-pages ?

[2017-01-17 13:14] gauthamzz commented on #5
Go to settings in your fork, you can enable gh pages there ,
see #15

[2017-01-17 13:27] gauthamzz opened #16 "Fix the github link"
The github link on the index.html should redirect to https://github.com/fossiiita/opencodecollab rather than https://github.com/fossiiita

[2017-01-17 15:03] bhanu1911 commented on #15
https://bhanu1911.github.io/opencodecollab Will this do, sir?

[2017-01-17 15:05] gauthamzz commented on #15
:+1: LGTM

[2017-01-17 15:17] gauthamzz commented on #16
solved

[2017-01-17 15:17] #16 closed

[2017-01-17 15:23] gauthamzz opened #25 "Logo looks squashed"
the opencode logo looks squashed.

File needed to be changed is index.html

If you have any concerns comment on this thread

[2017-01-17 15:24] nab331 commented on #25
Can i fix this?

[2017-01-17 15:24] gauthamzz commented on #25
yeah @nab331 you can work on this :+1: Tell me if there is any issue

[2017-01-17 15:31] gauthamzz opened #26 "Add gitter channel and Facebook group link in nav bar"

[2017-01-17 15:48] bhanu1911 commented on #9
Sir do we add the screenshots in the facebook post itself?

[2017-01-17 16:14] gauthamzz commented on #9
@bhanu1911 you need to add screenshot here and facebook post also :+1:

[2017-01-17 16:36] #25 closed

[2017-01-17 17:21] Symphoria commented on #15
Enabled **Github Pages** ,link - [https://symphoria.github.io/opencodecollab/](url)

[2017-01-17 17:37] bhanu1911 commented on #9
![screenshot from 2017-01-17 21-16-22](https://cloud.githubusercontent.com/assets/19773764/22032229/862bef6c-dd09-11e6-939b-87c05976189d.png)

Is this okay sir?

[2017-01-17 18:03] gauthamzz opened #32 "Show projects in opencode"
Create a new section named projects , it should take data from a new file projects.yml and it should have an images folder named projects.

In this issue make a container for the same, like the one made for students and mentors

Any issues comment on this thread

[2017-01-17 18:18] gauthamzz commented on #26
closing this fixed #33

[2017-01-17 18:18] #26 closed

[2017-01-17 18:19] gauthamzz opened #34 "link logo to main website"
link the opencode to the main opencode website

[2017-01-17 19:01] Ellusionists commented on #9
![screenshot from 2017-01-18 00-26-38](https://cloud.githubusercontent.com/assets/21156892/22035256/4e47f080-dd15-11e6-92f5-c0b43eb1c36f.png)
Server's running all good. :)

[2017-01-17 19:12] Ellusionists commented on #15
Enabled gh-pages.
Link :[https://ellusionists.github.io/opencodecollab/]

[2017-01-17 19:31] gauthamzz commented on #34
fixed in #37

[2017-01-17 19:31] #34 closed

[2017-01-17 19:36] VamsiSangam commented on #15
Could you please help me with this issue? I seem to be stuck. I did activate gh-pages for my fork and it says my site is published at [https://vamsisangam.github.io/opencodecollab/](https://vamsisangam.github.io/opencodecollab/), but when I open that link I am getting a "Site not found".

[2017-01-17 19:40] VamsiSangam commented on #15
![capture](https://cloud.githubusercontent.com/assets/11662001/22036830/dc5272b0-dd1a-11e6-8e54-ef67db17b9cb.JPG)
 Need help with this.

[2017-01-17 19:54] gauthamzz commented on #15
Might be some server error . You can refresh it . If it still persists please syc with the master branch

[2017-01-17 19:56] VamsiSangam commented on #15
Okay. I already have [https://vamsisangam.github.io/](https://vamsisangam.github.io/) running, could it because of that? Does github allow us to use gh-pages on multiple repos?

[2017-01-17 19:57] gauthamzz commented on #15
Yeah they allow , that's not a problem .

[2017-01-17 19:59] VamsiSangam commented on #15
Seems to be working now [https://vamsisangam.github.io/opencodecollab/](https://vamsisangam.github.io/opencodecollab/) 😄

[2017-01-17 20:24] Ellusionists commented on #5
![image](https://cloud.githubusercontent.com/assets/21156892/22038354/cef92ea0-dd20-11e6-93cb-58aef269ea47.png)

A very basic footer which servers the purpose.

[2017-01-17 20:31] pradeepgangwar39 commented on #9
Its done :)

![opencode](https://cloud.githubusercontent.com/assets/21259802/22038612/ed5af1ca-dd21-11e6-94f9-8ea98439ad7b.png)

[2017-01-17 20:56] shubham-padia opened #41 "Make a current issues section on the website using the github api"
Checkout api.github.com for more info.

Requirements:
- live link (gh-pages)
- A social media post or a tweet highlighting the changes you made along with the hashtags " #opencode #geekhaveniiita #iiita "

[2017-01-17 20:59] agbilotia1998 commented on #15
https://agbilotia1998.github.io/opencodecollab/

[2017-01-17 23:14] VamsiSangam commented on #6
I was thinking of implementing this using materialize's image cards. For that I'll need to replace bootstrap with materialize and rewrite the webpage quite drastically. But the UI will look extremely similar and will display all the info gathered in README. Am I allowed to do such a drastic change in code?

[2017-01-18 03:01] gauthamzz commented on #6
Yeah sure:) go for it :)

[2017-01-18 03:04] gauthamzz opened #43 "Add humble fool in projects section"
Add humble fool website in projects section

[2017-01-18 03:04] #32 closed

[2017-01-18 03:43] Abhey commented on #15
https://abhey.github.io/opencodecollab/

[2017-01-18 04:56] shubham-padia commented on #6
@vamsisangam materialize is a pretty big library, and we are inclined towards keeping bootstrap as it is considered standard. You'll find many pure js examples of showing the info more beautifully that materialize.

[2017-01-18 05:52] VamsiSangam commented on #6
Ok sure, I'll try 😄

[2017-01-18 08:26] aswinzz commented on #15
https://aswinzz.github.io/opencodecollab/

[2017-01-18 08:33] gauthamzz commented on #15
@aswinzz the gh pages should show the opencodecollab website
i think you may have done something wrong

[2017-01-18 09:53] pradeepgangwar commented on #15
Sir it's done... :)

https://pradeepgangwar.github.io/opencodecollab/

[2017-01-18 10:24] mrsaicharan1 commented on #3
Added profile to students.

[2017-01-18 10:39] pradeepgangwar commented on #3
added profile and made pr.

[2017-01-18 11:11] gauthamzz commented on #43
@tarunsinghal97  this is already solved at #45

[2017-01-18 11:11] #43 closed

[2017-01-18 11:16] Anupam-dagar commented on #3
Added profile to students section.

[2017-01-18 11:21] aswinzz commented on #15
https://aswinzz.github.io/opencodecollab/
sir it's working now

[2017-01-18 11:22] gauthamzz commented on #3
please post on social media to complete this step provide link here and refer you commit here

[2017-01-18 11:35] Anupam-dagar commented on #3
Social media post link:
https://www.facebook.com/invincible.anupam/posts/1340712015973719

Commit:https://github.com/fossiiita/opencodecollab/pull/48

Anupam DagarIIT2016128@iiita.ac.in

On Wed, Jan 18, 2017 at 4:52 PM, Gautham Santhosh <notifications@github.com>
wrote:

[2017-01-18 11:42] RavicharanN commented on #15
GH Pages link :  https://ravicharann.github.io/opencodecollab/

[2017-01-18 12:03] mrsaicharan1 commented on #9
![image](https://cloud.githubusercontent.com/assets/25197147/22063317/3b6dc9d2-dda4-11e6-80f0-dffb45704374.png)

[2017-01-18 12:05] gauthamzz commented on #9
@mrsaicharan1 i think you uploaded the wrong image

[2017-01-18 12:08] mrsaicharan1 commented on #9
I downloaded choclatey, the command shell variant .(it was an alternative installation method). Is it the wrong image.

[2017-01-18 12:16] Anupam-dagar commented on #15
Enabled gh-pages:
https://anupam-dagar.github.io/opencodecollab/

[2017-01-18 12:19] gauthamzz commented on #9
nah you have to post the image of it running on your browser :+1: running on localhost like everyone else :+1: @mrsaicharan1

[2017-01-18 12:22] mrsaicharan1 commented on #9
Okk sir

On Jan 18, 2017 5:49 PM, "Gautham Santhosh" <notifications@github.com>
wrote:

nah you have to post the image of it running on your browser 👍 running on
localhost like everyone else 👍 @mrsaicharan1
<https://github.com/mrsaicharan1>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/fossiiita/opencodecollab/issues/9#iss

[2017-01-18 14:56] gauthamzz opened #52 "Project link is broken"
When you click on the image of a particular project is should redirect to the projects respective github link :)

Currently this is broken

https://github.com/fossiiita/opencodecollab/blob/master/index.html#L187
should be changed

Requirements:

- live link (gh-pages)
- A social media post or a tweet highlighting the changes you made along with the hashtags " #opencode #geekhaveniiita #iiita

[2017-01-18 15:05] Anupam-dagar commented on #9
Finally jekyll is set up and server is running fine.
![screenshot from 2017-01-18 15-02-57](https://cloud.githubusercontent.com/assets/21174572/22069195/6e807ac8-dd8f-11e6-9703-1af1637d046b.png)

[2017-01-18 15:08] gauthamzz commented on #9
Please post your social media links with the image :+1:

[2017-01-18 15:14] Anupam-dagar commented on #9
Social Media link:
Facebook:
https://www.facebook.com/photo.php?fbid=1340845235960397&set=a.186619264716339.49725.100001048012821&type=3
![screenshot from 2017-01-18 15-10-34](https://cloud.githubusercontent.com/assets/21174572/22069430/54524dec-dd90-11e6-95c3-43c3756747e0.png)
Twitter:
https://twitter.com/anupam_dagar/status/821737134407172097
![screenshot from 2017-01-18 15-13-50](https://cloud.

[2017-01-18 15:18] gauthamzz opened #53 "Humblefool Cup"
You can find more issues to solve for Opencode at https://github.com/fossiiita/humblefoolcup/issues

[2017-01-18 16:40] bhanu1911 commented on #5
![screenshot from 2017-01-18 22-09-01](https://cloud.githubusercontent.com/assets/19773764/22073224/cc0e9324-ddca-11e6-838a-3b4be4f97daf.png)

A very, very basic, as-yet-unformattted footer; can be edited using CSS for further use.

[2017-01-18 16:44] gauthamzz commented on #5
only one of you should work on these kind of errors :+1: we dont want two footers :confounded: . @Ellusionists is working on this , if he doesnt merge within three days you can work on this . right now @bhanu1911 try something else , we have lots of issues

[2017-01-18 17:06] sashank27 commented on #15
https://sashank27.github.io/opencodecollab/

[2017-01-18 18:53] shubham-padia opened #57 "Make a current pull requests section using the github api"
Refer #41 for more details and requirements

[2017-01-18 18:55] shubham-padia opened #58 "Create more issues"
Participants are encouraged to create more issues on their own. More and more insight on how you can make this website better are welcome.

[2017-01-18 19:28] sashank27 commented on #3
Added Profile to students.

[2017-01-18 19:35] gauthamzz commented on #3
please post on social media with pic with link to event and complete this step @sashank27

[2017-01-18 19:42] tarunsinghal97 commented on #15
https://github.com/tarunsinghal97/opencodecollab

[2017-01-18 19:47] gauthamzz commented on #15
@tarunsinghal97 not working

[2017-01-19 04:54] tarunsinghal97 commented on #15
https://tarunsinghal97.github.io/opencodecollab/

[2017-01-19 06:37] gauthamzz opened #64 "Point System Show[discussion]"
We need to show all the points that a particular user has got in this repository.
Please suggest your way as the comment.

[2017-01-19 07:24] LuD1161 commented on #15
Enabled gh pages

https://lud1161.github.io/opencodecollab/

[2017-01-19 07:29] DreadedLama commented on #15
Enabled gh-pages :
https://dreadedlama.github.io/opencodecollab/

[2017-01-19 07:35] gauthamzz commented on #15
@DreadedLama You need to first register first :) By adding yourself in the students section

[2017-01-19 08:11] DreadedLama commented on #15
Done!! :)

[2017-01-19 12:08] VamsiSangam commented on #6
Last but not the least - [facebook post](https://www.facebook.com/photo.php?fbid=1311044232287968)

[2017-01-19 12:11] VamsiSangam opened #68 "Discrepancy in students.yml"
Data in students.yml is inconsistent as a few students have given full blown web links instead of their facebook/twitter/github usernames. Correct the records to usernames only.

[2017-01-19 12:12] VamsiSangam commented on #68
This issue could also be seen as my contribution to #58

[2017-01-19 12:53] CosmicCoder96 opened #70 "Change link format for GitHub username"
Do the changes you mentioned in the flip card pull request.
@VamsiSangam

[2017-01-19 12:57] VamsiSangam commented on #70
Actually I was asked by @shubham-padia in my [PR](https://github.com/fossiiita/opencodecollab/pull/62#issuecomment-273754901) to create a separate issue and a PR for the same.

[2017-01-19 13:07] gauthamzz commented on #68
Cool this issue is solved :+1:

[2017-01-19 13:07] #68 closed

[2017-01-19 13:44] pradeepgangwar commented on #52
I have created a PR check it....

Live session at https://pradeepgangwar.github.io/opencodecollab/

[2017-01-19 13:58] gauthamzz opened #73 "typo in parms.json"

[2017-01-19 13:59] #73 closed

[2017-01-19 14:07] vsvipul555 commented on #3
![capture](https://cloud.githubusercontent.com/assets/21038781/22109657/a661ba2a-de7e-11e6-83dc-5f3d0281d5d1.JPG)
Made social media post and added to students section.. !!

[2017-01-19 14:09] #6 closed

[2017-01-19 14:13] vsvipul555 commented on #15
Enabled gh-pages on my fork.. !! Link- https://vsvipul555.github.io/opencodecollab/

[2017-01-19 14:32] VamsiSangam commented on #41
Planning to implement this below the projects section using jQuery AJAX calls. Is that ok? And what information (title, link to PR, date, etc) am I expected to display? Should I display only the open ones, or all?

[2017-01-19 15:13] CosmicCoder96 commented on #70
Yeah this is the separate issue. Please go ahead.

[2017-01-19 15:28] dabbler011 commented on #15
enabled g-h pages:
https://dabbler011.github.io/opencodecollab/

[2017-01-19 15:53] gauthamzz commented on #52
solved in #76

[2017-01-19 15:53] #52 closed

[2017-01-19 16:17] aswanthkoleri commented on #15
https://aswanthkoleri.github.io/opencodecollab/

[2017-01-19 17:02] gauthamzz opened #78 "Add django event platform in projects"

[2017-01-19 20:41] RavicharanN commented on #9
![screen shot 2017-01-20 at 1 48 19 am](https://cloud.githubusercontent.com/assets/22046387/22124402/b9f73628-deb5-11e6-94bc-dbaa31636f27.png)

Social Media link :
https://www.facebook.com/photo.php?fbid=1192397350836199&set=a.440067306069211.1073741827.100001978378442&type=3&theater

[2017-01-20 06:03] gauthamzz opened #81 "Make the issue's shown in opencodecollab map to all issues with label opencode"
We can put all the issues with the tag opencode in this , since we are having multiple project. we want something like [this](https://github.com/search?l=&q=state%3Aopen+label%3Aopencode&ref=advsearch&type=Issues&utf8=%E2%9C%93)

and remove pull request from that. refer #80 for more detalis

[2017-01-20 06:03] #78 closed

[2017-01-20 06:04] #57 closed

[2017-01-20 08:16] pradeepgangwar commented on #64
what thing we can do to show points is that we can add points to flip cards where social links are shown.

What you all say about that.

[2017-01-20 10:34] VamsiSangam commented on #81
Working on this... Few questions. Upon querying via GitHub API, we [can get too many issues](https://api.github.com/search/issues?q=label:opencode+state:open). So, I don't think we can put all of them using the current UI. I think the UI must be changed to accommodate more issues. Is it ok if I change to UI for this? Next question, all those issues need not belong to Opencode event. I mean, I coul

[2017-01-20 11:42] aswanthkoleri commented on #9
![deepinscreenshot20170120112711](https://cloud.githubusercontent.com/assets/21339090/22148021/aef70bd8-df03-11e6-8b3c-ca431464f911.png)

Social media link
Facebook : https://www.facebook.com/photo.php?fbid=1439831206050177&set=a.285226671510642.77797.100000699350058&type=3&theater

Twitter : https://twitter.com/aswanth9495/status/822408570474033152

[2017-01-20 12:26] gauthamzz commented on #81
firstly reduce the size of issue box and do pagination .

all issues belong to opencode event, i have verified it.
` I could create an irrelevant public repo and have issues of label Opencode and it will show up in the query. How do we handle that?` if something like that occurs we will take care of it. The problem is that the new collaborators wont be knowing what all issues are there. the purpos

[2017-01-20 12:30] gauthamzz opened #83 "Show General Opencode Info"
We would like to show all opencode info at the top of this website. Some sort of slider may work. We are open to ideas.

We would like to show opencode poster / opencode trailer there :+1:  You can suggest here then only start working.

[2017-01-20 13:24] VamsiSangam commented on #81
Ok thanks, working on it! 😄

[2017-01-20 16:38] gauthamzz opened #86 "Fix the mobile view ."
The github and sidebar are comming on the same side , hence move the side bar right
![screenshot_2017-01-20-22-06-45-795](https://cloud.githubusercontent.com/assets/12110844/22157246/ecf0c59c-df5c-11e6-9f53-79a2ff7120df.jpeg)

[2017-01-20 16:39] #81 closed

[2017-01-20 16:40] gauthamzz commented on #81
Solved , thanks @VamsiSangam

[2017-01-20 16:40] #41 closed

[2017-01-20 16:41] gauthamzz commented on #5
Solved in #84

[2017-01-20 16:41] #5 closed

[2017-01-20 18:45] gauthamzz opened #87 "General tasks"
Comment your names after doing these talks
1 social network share ( link needed )
2 join gitter channel
3 fork and star all opencode related projects in the website like opencode,opencodecollab , humblefool cup,Django event platform

[2017-01-20 19:23] Ellusionists commented on #87
Ellusionists
1.(I share everything on facebook with the three hashtags.. which link do I provide?)
2. Done  3. Done

[2017-01-20 21:38] Anupam-dagar commented on #87
Anupam Dagar
1.Social Media Link:
https://www.facebook.com/photo.php?fbid=1342957992415788&set=a.186619264716339.49725.100001048012821&type=3
2. Joined
3. Done.

[2017-01-20 22:22] VamsiSangam commented on #87
Vamsi Sangam

1. [Facebook post](https://www.facebook.com/vamsi.sangam/posts/1312222565503468).
2. Joined
3. Stared & forked all 4 repos 😄

[2017-01-21 00:45] VamsiSangam opened #88 "Open graph images"
So, as all the developers are sharing the website on FB, it is a little awkward to see @shubham-padia 's pic, while sharing the website on FB. Seriously, you are fabulous dude, but I think its better if we serve more event relevant info 😄

Currently, this is what opencodecollab website looks like when shared -
![capture](https://cloud.githubusercontent.com/assets/11662001/22170138/78bf1996-dfa0-11

[2017-01-21 01:04] gauthamzz commented on #88
LGTM try it out

[2017-01-21 06:05] aswinzz commented on #9
Social Media Link
Facebook:https://www.facebook.com/photo.php?fbid=1176420729122246&set=a.165748876856108.33202.100002629918599&type=3&theater

twitter:https://twitter.com/aswinvb1/status/822686035486371841
![screenshot from 2017-01-21 11-30-36](https://cloud.githubusercontent.com/assets/25057819/22172471/aaec884a-dfcd-11e6-87b8-b5176c3aa368.png)

[2017-01-21 06:19] aswinzz commented on #87
Aswin VB
1. [Facebook Post](https://www.facebook.com/photo.php?fbid=1176420729122246&set=a.165748876856108.33202.100002629918599&type=3&theater)
2. joined
3. Forked And Starred all Repos In fossiiita

[2017-01-21 07:59] utkarshchaurasia28 commented on #15
https://utkarshchaurasia28.github.io/opencodecollab/

[2017-01-21 08:13] bhanu1911 commented on #83
Sir, please clarify as to what "all opencode info" means, and how you'd like for it to be presented (i.e. some more details about e.g. the "slider".) Also, how much information will it be?

[2017-01-21 08:14] bhanu1911 commented on #64
Adding them to the image as a translucent overlay on the cards, or as a part of the bio on the student page can work well, IMO.

[2017-01-21 10:11] gauthamzz commented on #15
@utkarshchaurasia28 its not right, i think you need to enable gh pages on master branch . please fix that and comment

[2017-01-21 11:29] LuD1161 commented on #3
https://www.facebook.com/AseemShrey/posts/1733438650318337?notif_t=like&notif_id=1484998112566254

[2017-01-21 11:42] gauthamzz commented on #3
@LuD1161 the link is not working

[2017-01-21 11:51] LuD1161 commented on #3
Check this one

https://www.facebook.com/AseemShrey/posts/1733438650318337

[2017-01-21 14:31] #88 closed

[2017-01-21 18:00] nikhilmundra29 commented on #3
![capture](https://cloud.githubusercontent.com/assets/21039014/22176459/f3a3d53a-e030-11e6-9ee8-cd088053add2.PNG)

Made social media post and added to students section.. !!

[2017-01-22 04:43] LuD1161 commented on #3
@gauthamzz Did you check this one

https://www.facebook.com/AseemShrey/posts/1733438650318337

[2017-01-22 05:42] DreadedLama commented on #3
Done

https://www.facebook.com/permalink.php?story_fbid=428254057565864&id=100011438206757

[2017-01-22 09:58] gauthamzz opened #90 "Add to projects"
Add proxy man by @himanshub16 and cool practice programs by @faheemzunjani to projects section

[2017-01-22 10:00] gauthamzz opened #91 "Show number of forks and stars"
Show number of forks and stars each project has on the project card , use github api for it

[2017-01-22 11:30] Anupam-dagar commented on #90
Done.
https://anupam-dagar.github.io/opencodecollab/

[2017-01-22 13:19] VamsiSangam commented on #91
![capture](https://cloud.githubusercontent.com/assets/11662001/22182763/67845c16-e0d3-11e6-8c24-09fe6177b737.JPG)
Isn't it better if we add a flip card to projects where the flipped side would have [github buttons](https://buttons.github.io/) to fork/star the repository directly. This would also show the number of stars/forks as well as it will allow the user to get started with one click. It is s

[2017-01-22 13:57] Aotoge commented on #3
Posted and added !

https://www.facebook.com/kadambari.kaveri/posts/1496855113688372

[2017-01-22 14:02] Aotoge commented on #9
![opencode_love](https://cloud.githubusercontent.com/assets/22166269/22183007/57814ab2-e0d9-11e6-8db9-1ea2f15430f8.png)

Social Media Link(Facebook): [https://www.facebook.com/photo.php?fbid=1495479840492566&set=a.160289287344968.30895.100000916943110&type=3&theater](url)

[2017-01-22 15:18] Aotoge commented on #15
Enabled gh pages
[https://aotoge.github.io/opencodecollab/](url)

[2017-01-22 15:25] #90 closed

[2017-01-22 15:27] gauthamzz commented on #91
Yeah that is what i was also thinking , and what about adding something like :  what language the project is or which platform it uses . i guess we need to make a new field in the projects section as well for that

[2017-01-22 15:52] Aotoge commented on #15
[https://aotoge.github.io/opencodecollab/](url)

[2017-01-22 15:54] gauthamzz opened #93 "Add Trailer in website"
[link](https://www.youtube.com/watch?v=qkt9vMKYHAM)

[2017-01-22 16:52] Symphoria commented on #87
Harshit Jain

1. [https://www.facebook.com/harshit.jain.37604303/posts/757481784402080?pnref=story](url)
2. Done
3. Done

[2017-01-22 17:58] tarunsinghal97 commented on #87
Tarun Singhal
1. https://www.facebook.com/tarun.singhal.148/posts/1046611225440741?pnref=story
2. Done
3. Done

[2017-01-22 18:21] agbilotia1998 commented on #87
Ayush Gupta

1. https://www.facebook.com/permalink.php?story_fbid=244359792672429&id=100012952303406&pnref=story
2. Done
3. Done

[2017-01-22 20:56] aswanthkoleri commented on #87
1.[facebook post](https://www.facebook.com/photo.php?fbid=1439831206050177&set=a.285226671510642.77797.100000699350058&type=3&theater)
2.done
3.done

[2017-01-23 10:55] aswanthkoleri commented on #86
Sir i would like to take up this issue

[2017-01-23 12:29] gauthamzz commented on #86
this is already solved

[2017-01-23 12:29] #86 closed

[2017-01-23 13:12] aswinzz opened #101 "Add A Facebook like bar"
Instead Of The Facebook Link In that Navbar.It will be better if we have something like this
![screenshot from 2017-01-23 18-30-15](https://cloud.githubusercontent.com/assets/25057819/22205042/23c7ba0e-e19b-11e6-8527-4c9c7b7fee8a.png)
So That People Will Like The Page Too.
The open code facebook page has only 170 likes.

[2017-01-23 17:25] anu-007 commented on #9
![screenshot from 2017-01-23 22-52-53](https://cloud.githubusercontent.com/assets/20153241/22214721/c3044182-e1be-11e6-80a6-d3f2c917a878.png)

[2017-01-23 18:14] adeora7 opened #105 "Loader"
Add a loader in the website.

[2017-01-24 10:58] RavicharanN commented on #101
How about this one ?
![screen shot 2017-01-24 at 4 26 32 pm](https://cloud.githubusercontent.com/assets/22046387/22244559/10d45e5e-e252-11e6-903c-2eb351243b55.png)

[2017-01-24 11:28] gauthamzz commented on #101
No need of opencode and the O

[2017-01-24 12:12] aswinzz commented on #105
i would like to work on it

[2017-01-24 13:36] VamsiSangam commented on #101
Will work on this

[2017-01-24 15:40] gauthamzz commented on #83
@bhanu1911  are you working on this ? please finish all the tasks you are working on

[2017-01-24 17:04] #93 closed

[2017-01-24 17:12] Anupam-dagar opened #107 "OpenCode in social media section"
By using the twitter api,add a section in the webpage which shows all the posts with the "#opencode" and "#geekhaveniiita".
(This is my contribution towards issue no.(#58))

[2017-01-24 17:48] gauthamzz opened #108 "Make your own personal page- For Everyone"
Create your own personal page at `your_github-username.github.io`  and post in the comment and send a pr updating your data in `students.yml`

[2017-01-24 18:15] gauthamzz opened #109 "create .gitignore"
we need a git ignore file to ignore all files which are created while installing jeykll

[2017-01-24 19:07] gauthamzz opened #110 "Show number of commits each person made"
near the image of the person we would like to show :  how many contributions each person has made.
This issue requires usage of github api.

it should look for all projects in the projects section

[2017-01-24 20:36] aswanthkoleri commented on #109
i would like to work on it

[2017-01-24 20:39] gauthamzz commented on #109
@aswanthkoleri go ahead.

[2017-01-24 21:16] agbilotia1998 opened #111 "Name not added in participant section [commit-add Ayush to students(#56)]"

[2017-01-24 21:22] gauthamzz commented on #111
check if your name is in _students.yml

[2017-01-24 21:23] gauthamzz opened #113 "Change cards"
The cards that are used to display student and mentor names as pretty basic.
We would like to display them in a much better fashion and effect if possible.

You can suggest your ideas and proceed forward

[2017-01-24 21:29] agbilotia1998 commented on #111
Yes, it is..

[2017-01-24 21:30] gauthamzz opened #114 "Show repo name in issue cards"
show which repo the issue belongs to in the issue card

[2017-01-24 21:35] gauthamzz commented on #111
it fixed @agbilotia1998 thanks for pointing it out.
10 points with reference to #58

[2017-01-24 21:35] #111 closed

[2017-01-24 22:36] anu-007 commented on #15
https://anu-007.github.io/opencodecollab/

[2017-01-24 23:39] anu-007 commented on #113
what about this  http://codepen.io/nicotinell/pen/doXyVX

[2017-01-24 23:46] gauthamzz commented on #113
Its almost same, something better i would propose

[2017-01-24 23:53] anu-007 commented on #113
will this work ?     http://codepen.io/marlenesco/pen/NqOozj

[2017-01-24 23:54] gauthamzz commented on #113
yeah it looks good :+1:

[2017-01-24 23:56] anu-007 commented on #113
ok I will send a PR by tomorrow.

[2017-01-25 00:03] gauthamzz opened #116 "Change background"
The background of the webpage is a bit dull.

please comment here and then start working on this issue.

[2017-01-25 00:07] VamsiSangam commented on #114
Will work on this

[2017-01-25 00:12] gauthamzz commented on #114
yeah sure

[2017-01-25 00:51] VamsiSangam commented on #108
[vamsisangam.github.io](https://vamsisangam.github.io/) . What would the new attribute in ```students.yml``` be? ```blog``` perhaps?

[2017-01-25 01:47] VamsiSangam commented on #64
As far as I am concerned, we can't calculate scores programmatically. It's too tedious and we don't have a way to programmatically get scores for comment based issues. That being said, here's my solution -

We need another attribute in ```students.yml```, let's say ```score```. Each individual student will submit a PR to edit his/her ```score``` attribute. In the description of the PR, the individ

[2017-01-25 05:19] aswanthkoleri commented on #116
i'll work on this

[2017-01-25 10:19] aswanthkoleri commented on #116
![screenshot from 2017-01-25 15-47-56](https://cloud.githubusercontent.com/assets/21339090/22286607/bf965cd0-e315-11e6-9f2e-db76cf0bd10f.png)
is this texture background okay

[2017-01-25 11:26] gauthamzz commented on #116
Yeah it looks good, but can you try something with a bit more effects

[2017-01-25 11:31] gauthamzz commented on #64
@VamsiSangam its better to make a new file `score.yml` rather i think.
I had thought of this but the con is too huge , I guess we can implement this.

[2017-01-25 11:33] VamsiSangam commented on #64
Sure, but what would exactly go in the ```score.yml```?

[2017-01-25 11:34] gauthamzz commented on #108
yeah that would be enough @VamsiSangam

[2017-01-25 11:35] gauthamzz commented on #64
links of all the tasks completed and score of that task
total at the end

[2017-01-25 11:43] VamsiSangam commented on #108
Wouldn't it be ```username.github.io``` for everyone? What benefit do we get from storing it separately?

[2017-01-25 11:47] VamsiSangam commented on #64
Ok 👍 . Will PM you on gitter about this

[2017-01-25 11:50] gauthamzz commented on #108
well , not all people will make it .

[2017-01-25 11:56] Anupam-dagar opened #119 "Fix the Opencode trailer."
Audio of the trailer still continue to play if the trailer is closed before watching completely.
(This is my contribution towards issue no.(#58))

[2017-01-25 12:28] gauthamzz commented on #105
@aswinzz how is this going ?

[2017-01-25 12:33] #114 closed

[2017-01-25 12:33] #109 closed

[2017-01-25 12:34] #70 closed

[2017-01-25 12:47] aswinzz commented on #119
i will work on this

[2017-01-25 13:13] gauthamzz commented on #119
@aswinzz okay , just make sure you create different pr for both

[2017-01-25 13:21] Anupam-dagar commented on #110
I would like to work on it.

[2017-01-25 13:47] Anupam-dagar commented on #110
I would like to work on it.

[2017-01-25 14:10] gauthamzz commented on #110
@Anupam-dagar please finish the previous work and once they are merged you can try this .

[2017-01-25 15:57] gauthamzz opened #121 "Show which stack the project uses in project cards"
we should add new fields on stack the project uses and display them . Manually adding them would work as of now

[2017-01-25 17:45] gauthamzz commented on #116
solved in #122

[2017-01-25 17:45] #116 closed

[2017-01-25 17:46] gauthamzz opened #123 "make each sections title more appealing"
the title is very plain now , it would be much preferred if you could make it more appealing :+1:
something like a nav bar would work

[2017-01-25 17:48] gauthamzz commented on #113
@anu-007 how this going ? any issues ?

[2017-01-25 18:04] anu-007 commented on #113
just a little bit of work is remaining,i will send a PR shortly.

[2017-01-25 18:12] aswinzz commented on #108
Personal Page Created :+1:  https://aswinzz.github.io
Students.yml Updated

[2017-01-25 18:44] aswinzz commented on #105
still working on it sir

[2017-01-25 21:52] gauthamzz opened #127 "update readme and add pull request template"
Update readme as per #125

[2017-01-25 22:03] VamsiSangam opened #128 "Add your contributions to scores.yml (Everyone)"
Add all your contributions so far to [scores.yml](https://github.com/fossiiita/opencodecollab/blob/master/_data/scores.yml). This must be done by everyone. Your contributions should be added under your github username in the following format -

[code]

The ```total``` must be the total points gained by all the contributions and each contribution's score must also be mentioned in the given format.

[2017-01-25 22:09] gauthamzz commented on #128
@VamsiSangam could you do #127 also

[2017-01-25 22:10] VamsiSangam commented on #127
Working on this

[2017-01-25 22:13] gauthamzz commented on #127
could we also have something like a pull request template https://github.com/blog/2111-issue-and-pull-request-templates

[2017-01-25 22:22] VamsiSangam commented on #127
Sure sounds great, but I think a separate issue must be made for this.

[2017-01-25 22:26] gauthamzz commented on #127
rather just increase the points

[2017-01-25 22:33] gauthamzz opened #129 "remove _site and add it to .gitignore"

[2017-01-25 22:34] VamsiSangam commented on #127
I will complete this tomorrow 😄

[2017-01-25 22:43] #129 closed

[2017-01-25 23:31] aswinzz commented on #105
Completed!
![screenshot from 2017-01-26 05-00-49](https://cloud.githubusercontent.com/assets/25057819/22313801/7ce80a04-e384-11e6-9545-48dd120a1ae4.png)

[2017-01-25 23:37] #105 closed

[2017-01-26 00:01] gauthamzz opened #132 "Change Nav Bar or Header"
we would like to have a better nav bar, the current one aint upto the mark.
please comment here the nav bar you want to change to then proceed

if you could try a [non rectangular header](https://medium.com/ux-power-tools/tiny-trends-1-non-rectangular-headers-e8d2d4ee578f#.9pte3wnca) it would be nice

[2017-01-26 08:07] #91 closed

[2017-01-26 09:41] aswinzz commented on #132
i would like to work on it

[2017-01-26 11:37] RavicharanN commented on #132
How 'bout this?
http://codepen.io/jexordexan/pen/zCJBG

[2017-01-26 13:51] gauthamzz commented on #132
@RavicharanN no we are looking for something else , and @aswinzz is already working on it

[2017-01-26 14:07] gauthamzz commented on #113
@anu-007 if you are facing any problem you can come on the gitter channel and ask us

[2017-01-26 18:09] pradeepgangwar commented on #128
added score to score.yml

[2017-01-26 18:15] VamsiSangam commented on #128
@pradeepgangwar edit scores.yml in your fork and submit a PR 😄

[2017-01-26 19:29] anu-007 commented on #113
@gauthamzz chek it out ( https://anu-007.github.io/opencodecollab/  ) just a little bit of work is left.
 I want your review on the new cards will these work or should change them.

[2017-01-26 19:38] gauthamzz commented on #113
@anu-007 i don't think they should overlap , but what about the one you showed me earlier ?

[2017-01-26 19:40] Anupam-dagar commented on #128
Do we have to add scores only for this repository or also for humblefoolcup?

[2017-01-26 19:58] gauthamzz commented on #128
you have add to add scores for all project/issues related to opencode

[2017-01-26 20:19] anu-007 commented on #113
I faced a lot of difficulty in the animations of previous design so I decided to work on a different design. Can you explain more about the problem with this design.

[2017-01-26 20:23] gauthamzz commented on #113
@anu-007 i would prefer if we go with the old design , this doesnt look that great . You can come on gitter and we can help you out . On the problems you are facing

[2017-01-26 20:31] gauthamzz opened #137 "Have a section of issues for each project"
right now we have all the issues in one place.
We would like to have separate sections for each projects issue . And on top of the section we would like it to show the stack of each project as well.

This issue requires usage of github api

[2017-01-26 21:38] RavicharanN commented on #108
https://ravicharann.github.io

[2017-01-27 14:06] agbilotia1998 commented on #123
![title](https://cloud.githubusercontent.com/assets/21157929/22373397/b20236ee-e4c7-11e6-808a-724e7da029c9.png)

is it fine sir

[2017-01-27 14:17] agbilotia1998 commented on #123
![Uploading title.png…]()

[2017-01-27 14:18] agbilotia1998 commented on #123
![title](https://cloud.githubusercontent.com/assets/21157929/22373814/7d96154a-e4c9-11e6-80d6-8f77e47d4d24.png)

is it fine sir

[2017-01-27 19:27] aswinzz opened #144 "Make Navbar Sticky"
#143 is Made

[2017-01-27 19:29] gauthamzz commented on #144
thanks well done :smile:

[2017-01-27 19:29] #144 closed

[2017-01-27 19:31] gauthamzz commented on #123
yeah its good , send pr :smile:

[2017-01-27 22:23] gauthamzz commented on #123
solved in #145

[2017-01-27 22:23] #123 closed

[2017-01-28 10:47] VamsiSangam commented on #137
Working on this..

[2017-01-28 18:59] gauthamzz opened #151 "change of order"
write now the website follows the order
1. mentors
2. participants
3. projects
4. issues

proposed ideas :
- we can change the order
1. projects
2. mentors
3. participants
4. issues

- We can have separate page for
1. issues and projects section
2. mentors and students section

- Stay the way it is

please comment your opinion :+1:

[2017-01-29 13:32] RavicharanN opened #152 "add reading progress indicator"
it show the progress of the page as we scroll down.

[2017-01-29 13:35] aswinzz commented on #152
i would like to work on it

[2017-01-29 14:31] aswanthkoleri commented on #108
https://aswanthkoleri.github.io

[2017-01-29 14:51] aswinzz commented on #151
we can have separate pages

[2017-01-29 16:16] gauthamzz commented on #152
sure @aswinzz you can work on it

[2017-01-29 17:48] Anupam-dagar commented on #108
https://anupam-dagar.github.io/
Forgive the design,not able to host my site properly.Don't know where I am going wrong.

[2017-01-30 09:45] RavicharanN commented on #151
Projects on the top followed by participants and mentors.
Space alloted for the projects and the issue section are very small. So, I don't think making a separate page for them will make it look good.

[2017-01-30 16:05] faheemzunjani commented on #151
I think having a separate page for:
- Issues and Projects
- Mentors and Participants
will be a better idea with Mentors and Participants page being a part of the landing page.

[2017-01-30 23:52] #127 closed

[2017-01-30 23:54] gauthamzz commented on #119
@aswinzz whats the progress on this :small_airplane:

[2017-01-31 07:36] gauthamzz opened #159 "Make _includes folder; move header and footer to there"
You can defer to [docs](https://jekyllrb.com/docs/includes/)

[2017-01-31 07:47] gauthamzz commented on #151
@adeora7 @shubham-padia @mubaris what do you guys say ?

[2017-01-31 08:22] aswinzz commented on #159
Im working on it

[2017-01-31 09:05] gauthamzz commented on #159
Sure :+1:

[2017-01-31 09:53] #101 closed

[2017-01-31 09:56] gauthamzz commented on #83
No one is currently working on this issue

[2017-01-31 13:16] shubham-padia commented on #151
Sounds good :)

[2017-01-31 13:40] aswinzz commented on #119
its done
going to make pr

[2017-01-31 14:06] aswinzz opened #165 "add gitter chatbox"
It will be helpful if we add gitter chatbox in the page rather than giving a link in the navbar

[2017-01-31 14:07] aswinzz commented on #165
I Am Working On This!

[2017-01-31 16:52] aswinzz commented on #159
i have sent the new PR

[2017-01-31 17:40] VamsiSangam commented on #110
May I pick up this issue?

[2017-01-31 17:41] VamsiSangam commented on #107
Will work on this. I've done some reading, I'm not sure if this can be done. Will keep digging

[2017-01-31 19:28] gauthamzz commented on #107
yeah im also not sure :/ i guess we need to close this issue . we can rather use twitter api and show tweets thats it

[2017-01-31 20:39] gauthamzz commented on #110
yeah sure

[2017-02-01 13:47] #159 closed

[2017-02-01 17:57] gauthamzz opened #168 "create separate pages"
We can have separate page for
1. issues and projects section [not Landing page]
order :  projects , issues
2. mentors and participants section [Index.html]
order :  mentors , participants

you should use shared footer and nav bar in the _layouts

[2017-02-01 18:49] VamsiSangam commented on #168
Working on this

[2017-02-02 00:49] VamsiSangam opened #170 "Move all relevant code to navbar.html"
The code for trailer and fb-like button is not fully inside ```navbar.html``` as it is supposed to be. This code is put after the navbar is included which clearly is a part of navbar and must be moved to ```navbar.html```

[code]
This is the code for fb like button which is put just after the opening of ```body``` tag -

[code]
this too must also be moved to ```navbar.html```.

All code relevant t

[2017-02-02 00:50] VamsiSangam commented on #170
This is also for #58

[2017-02-02 00:57] VamsiSangam opened #171 "Create a scoreboard"
We can create a separate page to list out the ranks of all the participants in the event along with their scores and all contributions as gathered in ```scores.yml```. Please display scores in sorted order along with ranks, total score, contributions and participant pic and other info. Any more suggestions regarding the scoreboard are appreciated 😄

[2017-02-02 00:58] VamsiSangam commented on #171
@gauthamzz may I work on this issue?

[2017-02-02 07:32] gauthamzz commented on #171
Yeah sure :)

[2017-02-02 07:38] gauthamzz commented on #170
While doing this issue also add a button at the bottom of
 mentors and participants page : view projects and issues and vice versa on the other

[2017-02-02 07:39] #151 closed

[2017-02-02 07:39] #168 closed

[2017-02-02 07:39] #137 closed

[2017-02-02 07:40] #121 closed

[2017-02-02 14:06] Anupam-dagar commented on #165
Can I work on this issue?

[2017-02-02 14:11] gauthamzz commented on #165
Ask Aswin . If doesn't reply within a day you can

[2017-02-02 14:35] Anupam-dagar commented on #165
@aswinzz can I work on this?

[2017-02-02 20:02] aswinzz commented on #165
yeah

[2017-02-02 21:32] anu-007 commented on #87
Anubhuti verma
1. https://www.facebook.com/anubhutiv1/posts/1183931645038260
2.done
3.done

[2017-02-03 09:02] #171 closed

[2017-02-03 09:03] #83 closed

[2017-02-03 09:04] #53 closed

[2017-02-04 19:55] aswinzz commented on #170
i would like to work on it

[2017-02-04 21:37] gauthamzz commented on #170
sure

[2017-02-05 17:46] aswinzz opened #181 "Merge Opencode website with opencodecollab website"
The webpage of opencode seems to be left out.
So it will be good if we merge it to opencodecollab website
Not Just Merging will do.
think of some idea of merging rather than linking the pages
this is my contribution to issue no #58

[2017-02-05 18:10] gauthamzz commented on #181
please comment the effect you are going to put

[2017-02-05 18:12] aswinzz commented on #181
http://codepen.io/wagerfield/pen/wftcE
is this okay?

[2017-02-05 18:14] gauthamzz commented on #181
it looks awesome
make this part of project page or make it a new page

[2017-02-05 19:13] aswinzz commented on #181
ok

[2017-02-05 21:29] aswinzz commented on #170
done

[2017-02-05 21:32] #170 closed

[2017-02-05 21:33] gauthamzz commented on #170
@aswinzz @aswanthkoleri @all  please add your score in score.yml

[2017-02-06 11:30] snipecoder1 commented on #15
https://snipecoder1.github.io/opencodecollab/

[2017-02-06 11:41] gauthamzz commented on #15
@everyone please add your score in _score.yml

[2017-02-08 12:51] aswinzz opened #191 "Add Close button For gitter chatbox"
there is no close button for gitter chatbox.
this is my contribution to issue number #58

[2017-02-08 12:52] Anupam-dagar commented on #191
There is a toggle button for it in navbar

[2017-02-08 13:26] aswinzz commented on #191
it would be better if we have a close button because who opens chatbox using that openchat link will not have any idea on how to close the chatbox

[2017-02-08 14:17] Anupam-dagar commented on #191
Ok, I would like to fix it.

[2017-02-08 14:26] KaustubhShamshery commented on #191
@Anupam-dagar this has been assigned to you

[2017-02-11 16:24] gauthamzz opened #195 "Enable button if you scroll more"
For eg in mentors and participants page if the user scrolls more than the end a button should pop up asking which page he wants to go next.

This should be implemented for everypage

[2017-02-11 16:24] gauthamzz commented on #191
progress ?

[2017-02-11 17:25] aswanthkoleri commented on #195
ill work on it

[2017-02-11 17:42] aswanthkoleri opened #196 "add something like close button to gitter chat box"
currently we cant close the gitter chat box once open . add some close button

[2017-02-11 17:49] aswanthkoleri opened #197 "chat with us option not working when we are using the issues and projects page"
when the chat with us option is clicked  when we are using the page projects and issues it redirects whenever we click on it . please fix the issue

[2017-02-11 17:49] #196 closed

[2017-02-11 17:52] aswanthkoleri opened #198 "make the webpage navigable while using gitter chatbox"
it would be nice if we make the webpage navigable while using gitter chatbox.

[2017-02-11 19:30] aswinzz commented on #197
done

[2017-02-11 19:38] aswinzz commented on #197
![screenshot from 2017-02-12 01-01-24](https://cloud.githubusercontent.com/assets/25057819/22856803/07e6804e-f0bf-11e6-9263-0cd39b89cab5.png)
![screenshot from 2017-02-12 01-01-31](https://cloud.githubusercontent.com/assets/25057819/22856804/07f05100-f0bf-11e6-9f64-61088efb3d33.png)

[2017-02-12 16:44] agbilotia1998 opened #206 "Add flip card images to Proxy man and Cool practice program projects"

[2017-02-12 16:45] aswanthkoleri commented on #206
ill work on this

[2017-02-12 16:45] gauthamzz commented on #206
I'm sorry this aint worth being an issue

[2017-02-12 16:45] #206 closed

[2017-02-12 18:14] aswinzz commented on #181
@RavicharanN  wishes to work on this issue

[2017-02-13 15:15] Anupam-dagar commented on #198
The page navigates while using gitter chatbox.
Elaborate it if I am getting it wrong.

[2017-02-13 15:17] Anupam-dagar opened #212 "Gitter chatbox missing in event scoreboard."
Chatbox is missing while viewing scores.

[2017-02-13 15:17] Anupam-dagar commented on #212
I would like to work on it.

[2017-02-13 17:28] aswinzz opened #214 "Alignment of contents in scoreboard in mobile view"
The alignment of  contributions in the event scoreboard should be aligned properly in the mobile view
![screenshot_2017-02-13-22-52-00-101](https://cloud.githubusercontent.com/assets/25057819/22894684/ee9c44a2-f23f-11e6-9e66-e7132cd75723.jpeg)

[2017-02-13 21:59] #198 closed

[2017-02-14 14:02] agbilotia1998 commented on #214
![Uploading mv.png…]()
Is It fine.

[2017-02-14 14:15] agbilotia1998 commented on #214
![mv](https://cloud.githubusercontent.com/assets/21157929/22932442/f0c0d4a6-f2ed-11e6-8e94-afb61ab9a7b6.png)

Is It fine

[2017-02-15 06:54] aswinzz opened #223 "Add a countdown for opencode"
It would be nice if we have a countdown timer for the ending of opencode

[2017-02-15 06:57] aswinzz opened #224 "Dropdown is not going when chat with us is clicked(mobile view)"
Dropdown nav bar is not going when chat with us is clicked .
![screenshot_2017-02-13-22-54-40-040](https://cloud.githubusercontent.com/assets/25057819/22963636/0b15f674-f37a-11e6-8673-c5b7c68fc5c6.jpeg)

[2017-02-15 07:03] #212 closed

[2017-02-15 07:03] #214 closed

[2017-02-15 07:04] #197 closed

[2017-02-15 07:04] #191 closed

[2017-02-15 07:04] #165 closed

[2017-02-15 07:04] #110 closed

[2017-02-15 07:08] gauthamzz opened #225 "Make a blogs section"
a new section named blogs should be made in _data and this should be added under participants in index.html

[2017-02-15 07:11] gauthamzz opened #226 "write your experience in a blog"
write your opencode experience in a blog post. This is to be added in #225 . You can write the post in any blogging platform such as medium or even facebook post will work.

As we are reaching the end we will take this as a review of the overall event.

[2017-02-15 07:46] Anupam-dagar commented on #223
I would like to work on it

[2017-02-15 07:58] aswinzz commented on #225
I will work on it

[2017-02-15 08:10] gauthamzz commented on #223
tell me if you face any problem

[2017-02-15 08:18] Anupam-dagar commented on #223
Where shouls it be placed?

[2017-02-15 09:26] aswinzz opened #227 "make everything respsonsive"
in the image below we can see that the text is not completely in the black rectangle some part of the title is left out
![screenshot from 2017-02-15 14-54-00](https://cloud.githubusercontent.com/assets/25057819/22968025/d93a35a6-f38e-11e6-879a-4b6453f7fcef.png)

[2017-02-15 10:33] gauthamzz commented on #223
before mentors in the index page

[2017-02-15 10:34] gauthamzz commented on #227
there are so many others like this . the page is not responsive yet .

[2017-02-15 11:53] aswanthkoleri opened #228 "Chat box not working in event scoreboard page"

[2017-02-15 11:53] aswanthkoleri commented on #228
ill do it

[2017-02-15 12:10] aswanthkoleri commented on #228
Done @gauthamzz

[2017-02-15 12:22] itaditya commented on #113
Can I take this issue ?

[2017-02-15 12:24] aswanthkoleri commented on #226
Should i post it in FB or post it in the blog which aswin is working on ?

[2017-02-15 12:25] aswanthkoleri commented on #226
or both ?

[2017-02-15 12:40] itaditya commented on #9
Screenshot :
![image](https://cloud.githubusercontent.com/assets/15871340/22974799/04ef7362-f3aa-11e6-8ae7-25730547ef25.png)

[2017-02-15 12:54] gauthamzz commented on #113
yeah sure
there is a pr in this issue already you can check it out
you can either fix that :) or do yours
the event will be over on 17 please send pr asap

[2017-02-15 12:55] gauthamzz commented on #226
you need to add the link of your blog in the blog section @aswinzz is working on as well as share it

[2017-02-15 12:55] #228 closed

[2017-02-15 13:31] itaditya commented on #113
I want to make a separate PR , I wanted to know do you like this card http://bootsnipp.com/snippets/featured/profile-card

[2017-02-15 13:59] gauthamzz commented on #113
i think the current one looks better than this ?

[2017-02-15 14:26] agbilotia1998 commented on #227
![responsive](https://cloud.githubusercontent.com/assets/21157929/22978157/99e71616-f3b7-11e6-90a3-dcc14593acbc.png)
Is it good now..

[2017-02-15 14:26] gauthamzz commented on #227
yeah :) send pr

[2017-02-15 15:02] itaditya commented on #113
What about this one - http://codepen.io/VictoryDesign/pen/PqQevB

[2017-02-15 15:12] gauthamzz commented on #113
i dont think its gonna matter much after we change the background .
something else ?

[2017-02-15 17:22] Anupam-dagar commented on #223
![screenshot from 2017-02-15 22-51-24](https://cloud.githubusercontent.com/assets/21174572/22986377/4f5d26c0-f3d1-11e6-9b72-3c9bacbb42ac.png)
Is this fine?
I wanted it to be horizontal but it won't align.

[2017-02-15 18:10] aswinzz opened #240 "add background for blog section"

[2017-02-15 18:14] aswanthkoleri commented on #240
i'll do it

[2017-02-15 18:25] gauthamzz commented on #223
Too big

[2017-02-15 18:41] aswanthkoleri opened #243 "update readme.md for adding the blog link in the blog section."

[2017-02-15 18:41] gauthamzz commented on #243
Sure

[2017-02-15 20:29] aswinzz opened #249 "add your personal page to the blog section"
add the personal page created in issue #108 to the blog section

[2017-02-15 20:35] #249 closed

[2017-02-15 20:35] gauthamzz commented on #249
you can add your page in your _students.yml page already it is there

[2017-02-15 20:48] gauthamzz opened #253 "remove unwanted code"

[2017-02-15 20:48] aswanthkoleri commented on #253
ill do it

[2017-02-16 03:38] VamsiSangam commented on #9
![opencodecollab](https://cloud.githubusercontent.com/assets/11662001/23006376/620faa1c-f427-11e6-9dd0-396772280d96.JPG)

[2017-02-16 04:04] rahulsunny commented on #15
https://rahulsunny.github.io/opencodecollab/

[2017-02-16 08:34] Anupam-dagar commented on #223
![screenshot from 2017-02-16 14-04-17](https://cloud.githubusercontent.com/assets/21174572/23013492/d8e4d120-f450-11e6-83b1-f55e74084d25.png)
Is this fine?

[2017-02-16 08:46] #243 closed

[2017-02-16 11:27] agbilotia1998 opened #259 "Separate the Participant and blog divs."
The two divisions are merged,they need to be separated.
![issue](https://cloud.githubusercontent.com/assets/21157929/23019549/ed4a894e-f468-11e6-8bd9-d13963c33f48.png)

[2017-02-16 11:28] gauthamzz commented on #223
yeah it looks great make it a bit smaller and it will do

[2017-02-16 11:32] agbilotia1998 commented on #259
I will do it

[2017-02-16 11:32] gauthamzz commented on #259
please send pr fast

[2017-02-16 11:59] aswinzz opened #261 "when event scoreboard is opened the first content is not collapsed"
![screenshot 7](https://cloud.githubusercontent.com/assets/25057819/23020504/6afc8988-f46d-11e6-9bac-4f498c82ff30.png)

[2017-02-16 12:02] aswanthkoleri opened #263 "make the color of the card back white"

[2017-02-16 12:03] aswanthkoleri commented on #263
i'll do it

[2017-02-16 15:44] gauthamzz commented on #263
No

[2017-02-16 15:44] #263 closed

[2017-02-16 17:37] gauthamzz opened #273 "fix header"
in the page where the countdown is the header is not proper

[2017-02-16 17:38] gauthamzz commented on #261
i dont know why this happened :-1: it was working proper

[2017-02-16 17:38] #261 closed

[2017-02-16 17:39] #273 closed

[2017-02-16 17:42] gauthamzz opened #275 "fix broken images"
there are two broken images fix them

[2017-02-16 17:46] aswanthkoleri commented on #275
ill do it

[2017-02-16 17:47] Anupam-dagar commented on #275
I would do it

[2017-02-16 17:48] #259 closed

[2017-02-16 17:48] #224 closed

[2017-02-16 17:49] #253 closed

[2017-02-16 17:49] #240 closed

[2017-02-16 17:58] gauthamzz commented on #275
@aswanthkoleri you can work on it
@Anupam-dagar work on something else as of now

[2017-02-16 18:15] gauthamzz opened #278 "create javascript games"
participants can create javascript games . they can comment them under this post.
when number of games increase we will set up a separate section for it

[2017-02-16 18:54] RavicharanN commented on #278
It should be done by tomorrow right ?

[2017-02-16 19:23] gauthamzz commented on #278
yeah

[2017-02-17 05:37] Anupam-dagar opened #284 "Tidy the blog.yml code."
Currently there is no proper spacing after each participant entry in blog.yml.
Make the code neat.

[2017-02-17 05:38] Anupam-dagar commented on #284
I would like to work on it.

[2017-02-17 08:29] aswanthkoleri commented on #278
I created a javascript game. A simple brick game. You can access it from this repo :  https://github.com/aswanthkoleri/MY-FIRST-JAVASCRIPTGAME
Thank You for this task

[2017-02-17 08:37] gauthamzz commented on #278
Why thank you for this task

[2017-02-17 09:01] gauthamzz commented on #284
this is a duplicate issue @aswanthkoleri you worked on this , please take care of this too. you wont receive points for this .

[2017-02-17 09:01] #284 closed

[2017-02-17 09:17] aswanthkoleri commented on #278
I Learnt a lot of javascript thats why !!

[2017-02-17 09:29] gauthamzz opened #291 "add a new section for participant projects"
this section should be added below projects and above issue

this section is mainly for javascript games

[2017-02-17 09:30] aswanthkoleri commented on #291
il do it

[2017-02-17 09:30] gauthamzz commented on #291
cool :) assigned to you @aswanthkoleri

[2017-02-17 09:31] aswanthkoleri commented on #278
to play the game click here : https://aswanthkoleri.github.io/Brick-Pop/

[2017-02-17 09:56] gauthamzz opened #293 "add github button in mobile view"

[2017-02-17 09:56] #275 closed

[2017-02-17 09:56] #225 closed

[2017-02-17 09:56] #132 closed

[2017-02-17 09:57] Anupam-dagar commented on #278
![screenshot from 2017-02-17 15-26-10](https://cloud.githubusercontent.com/assets/21174572/23060870/91483d18-f525-11e6-9694-e2ed2466997a.png)
As seen in github quick talk.
live link:
https://anupam-dagar.github.io/javascript-game/

[2017-02-17 09:58] Anupam-dagar commented on #293
i would like to do it

[2017-02-17 09:58] RavicharanN commented on #87
RavicharanN

1. Post:
  https://www.facebook.com/photo.php?    fbid=1192397350836199&set=a.440067306069211.1073741827.100001978378442&type=3&theater
2. done
3. Joined

[2017-02-17 10:02] gauthamzz commented on #278
@adeora7 look at that

[2017-02-17 10:09] aswanthkoleri commented on #293
its already there nah

[2017-02-17 10:24] adeora7 commented on #278
:o oh man .. @gauthamzz  so happy to see that

[2017-02-17 10:34] aswinzz commented on #293
i will do it

[2017-02-17 10:56] gauthamzz commented on #293
@aswanthkoleri no its not there . @aswinzz assigned to you

[2017-02-17 12:06] aswanthkoleri opened #309 "update read me for participants project section"

[2017-02-17 12:06] aswanthkoleri commented on #309
ill do it

[2017-02-17 12:15] Anupam-dagar opened #311 "fix broken images."
There are broken images again in website.Fix it.

[2017-02-17 12:15] Anupam-dagar commented on #311
I would like to do it

[2017-02-17 12:15] gauthamzz commented on #309
while doing it , fix the two broken images too . increasing the issue points

[2017-02-17 12:16] gauthamzz commented on #311
ok fine

[2017-02-17 12:16] #311 closed

[2017-02-17 12:18] Anupam-dagar commented on #311
okay, i fixed them.
Broken image doesn't look nice.
Creating pr

[2017-02-17 12:40] Anupam-dagar commented on #223
![screenshot from 2017-02-17 18-10-14](https://cloud.githubusercontent.com/assets/21174572/23065599/62cb04fe-f53c-11e6-95ea-aa78f35e662c.png)
I think this should do it,its also bug free.

[2017-02-17 12:45] gauthamzz commented on #223
LGTM send pr

[2017-02-17 13:03] #293 closed

[2017-02-17 14:27] Anupam-dagar opened #320 "fix countdown."
Countdown resets itself on refreshing the page.
It would be better if we can retain the count.

[2017-02-17 15:02] VamsiSangam commented on #320
Could you explain what does [this line](https://github.com/fossiiita/opencodecollab/blob/master/javascripts/countdown.js#L41) in your code do?

`var deadline = new Date(Date.parse(new Date()) + 6 * 59 * 60 * 1000);`

[2017-02-17 15:08] VamsiSangam commented on #320
Working on this...

[2017-02-17 15:13] gauthamzz commented on #320
@VamsiSangam is assigned

[2017-02-17 15:28] VamsiSangam commented on #320
It was a one line fix, not sure if this deserves 30 points 😄

[2017-02-17 15:41] gauthamzz commented on #320
its okay :+1: last day let the points flow

[2017-02-17 15:53] gauthamzz opened #329 "remove console errors"

[2017-02-17 15:55] aswinzz commented on #329
ill do it

[2017-02-17 16:23] agbilotia1998 opened #330 "Participant blog section flip cards on flipping appears vague"
![broken](https://cloud.githubusercontent.com/assets/21157929/23073842/c9f1cbde-f55c-11e6-84e1-71906a973e94.png)

[2017-02-17 16:24] VamsiSangam opened #331 "Timer not showing in projects and scoreboard page"
Timer is only being displayed on the homepage. Simply adding ```countdown.js``` to both the html files should fix this.

[2017-02-17 16:24] Anupam-dagar commented on #331
I would like to do it

[2017-02-17 16:34] Anupam-dagar commented on #331
Done.

[2017-02-17 16:37] aswanthkoleri commented on #330
ill fix this

[2017-02-17 16:55] #331 closed

[2017-02-17 17:00] gauthamzz opened #336 "number of facebook likes bar got vanished"

[2017-02-17 17:07] VamsiSangam commented on #336
In which page?

[2017-02-17 17:42] #336 closed

[2017-02-17 17:42] gauthamzz commented on #336
oh it was not visible in my friends pc, it is working now

[2017-02-17 17:54] aswanthkoleri opened #342 "there is no padding between the cards in participant section in mobile view"

[2017-02-17 18:03] aswanthkoleri commented on #342
ill try to fix it

[2017-02-17 18:03] aswanthkoleri commented on #330
i'm not fixing this issue if anyone intrested they can do it

[2017-02-17 18:05] gauthamzz commented on #342
you have 30 mins :p

[2017-02-17 18:13] Anupam-dagar opened #343 "fix header."
Header on the home page is distorted.

[2017-02-17 18:15] gauthamzz commented on #343
you mean its over lapping ,the facebook like part and the github part

[2017-02-17 18:16] Anupam-dagar commented on #343
it should be in a single line
opencode is in top and then navigation items start.

[2017-02-17 18:20] gauthamzz commented on #343
i dont think this can be done in 10 minutes

[2017-02-17 18:21] Anupam-dagar commented on #343
should i count points for creating issue

[2017-02-17 18:21] #343 closed

[2019-03-19 15:49] #3 closed

[2019-03-19 15:49] #4 closed

[2019-03-19 15:49] #9 closed

[2019-03-19 15:49] #15 closed

[2019-03-19 15:49] #58 closed

[2019-03-19 15:49] #64 closed

[2019-03-19 15:49] #87 closed

[2019-03-19 15:49] #107 closed

[2019-03-19 15:49] #108 closed

[2019-03-19 15:49] #113 closed

[2019-03-19 15:49] #119 closed

[2019-03-19 15:49] #128 closed

[2019-03-19 15:49] #152 closed

[2019-03-19 15:49] #181 closed

[2019-03-19 15:49] #195 closed

[2019-03-19 15:49] #223 closed

[2019-03-19 15:49] #226 closed

[2019-03-19 15:49] #227 closed

[2019-03-19 15:49] #278 closed

[2019-03-19 15:49] #291 closed

[2019-03-19 15:49] #309 closed

[2019-03-19 15:49] #320 closed

[2019-03-19 15:49] #329 closed

[2019-03-19 15:49] #330 closed

[2019-03-19 15:49] #342 closed